@import "vars.scss";

.nav {
	@include font(18px, 400, $gray);
	@include flex(row, space-between);
}

.nav__list {
	@include flex(row, none);
	align-items: center;
}

.user-box {
	@include flex(row, none);
	margin-right: 13px;
}

.logo {
	margin-left: 14px;
	margin-right: 40px; 
}


.login-link {
	margin-right: 15px;
}
.nav__item {
	margin-right: 10px;
	padding: 5px;
}

.nav__link {
color: $gray;	
transition: color 0.2s ease-in;
}

.nav__item:hover{
	.nav__link{
		color:$orange;
	}	
}

.nav__item:active {
	  transform: scale(.9, .9);
}
	
.active {
	color:$orange;
}

.login-link:hover {
	.icon-user {
    background-position: -355px -189px;
	}
}


.cart-link:hover {
	.icon-cart_small{
		background-position: -92px -34px;
	}
}

.login-link:active {
	  transform: scale(.9, .9);
}

.cart-link:active {
	  transform: scale(.9, .9);
}

//=======nav saerch==========//

form {
  position: relative;
  width: 300px;
  margin-right: 15px;
  height: 22px;
}
.search-text {
  @include font(17px, 400, $gray);
  height: 30px;
  width: 0;
  padding: 0 30px 0 15px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  transition: .4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}


.btn-search {
 background: transparent;
  border: none;
  height: 24px;
  width: 22px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.btn-search:before {
  content: "";
	background-image: url(img/sprite/sprite.png);
    background-repeat: no-repeat;
    display: block;
    width: 24px;
    height: 22px;
    background-position: -361px -131px;
}

.search-text:focus {
  width: 300px;
  z-index: 1;
  border-bottom: 2px solid $gray;
}

