@import "blocks/slick.scss";
@import "blocks/slick-theme.scss";
@import "blocks/vars.scss";

* {
	@include null;
}

html {
	height: 100%;
}

body {
	font-family: $family;
	background-color: $blue;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.footer__down {
	flex: 1 0 auto;

}

.footer {
	flex-shrink: 0;
}

@import "blocks/global.scss";
@import "blocks/header.scss";
@import "blocks/jumbotron.scss";
@import "blocks/new-product.scss";
@import "blocks/day_product.scss";
@import "blocks/hit-product.scss";
@import "blocks/letter.scss";
@import "blocks/footer.scss";




