section.day-product
	.container.day-product__wrap
		.day-product__banner
			h1.day-product__text ТОВАР ДНЯ
				br
				span.day-product__description Скидка только сегодня
			
			span.day-product__sale -70%
		.day-product__card
			a.day-product__link(href="#", target="_blank")
				img.day-product__img(src="img/product_img/4_small.jpg", width="150", height="140", alt="спот TK Lighting 1834 Relax Junior 4")
			.day-product__link__box
				a.day-product__title(href="#", target="_blank")
					h2.day-product__title TK Lighting 1834 Relax Junior&nbsp4
				hr
				.card__buy-box 
					a.card-buy.icon(href="#")
					a.card-like.icon(href="#")
						