.footer
	.container.footer__wrap
		.footer_culomn1
			a.logo(href="index.html")
			img(src="img/logo.png", alt="логотип LampShop")
			p.copyrighted @2018 lampshop.ru
		.footer_culomn2
			a.nav__link(href="index.html") Главная 
			a.nav__link(href="#") Каталог
			a.nav__link(href="#") Распродажа
		.footer_culomn3
			a.nav__link(href="#") Доставка
			a.nav__link(href="#") О нас 
			a.nav__link(href="#") Контакты
		.footer_culomn4
			a.adress__link.header__letter.footer__letter(href="mailto:lampshop@gmail.com") lampshop@gmail.com
			a.adress__link.header__phone.footer__phone(href="tel:8(4212)345-456") 8(4212)345-456
			.social-list
				a.social-list__item(href="#")
					i.icon.icon-facebook
				a.social-list__item(href="#")
					i.icon.icon-twitter
				a.social-list__item(href="#")
					i.icon.icon-google
				a.social-list__item(href="#")
					i.icon.icon-instegram
		
		