section.hit-product
	.container
		.new-product__title-box
			h1.title-box__text 
				span.title-box__text--color Хиты 
				|Продаж
				br
				span.title-box__description самые популярные модели
		.new-product__slide
			div
				.hit-product__card
					a.day-product__link(href="#", target="_blank")
						img.day-product__img(src="img/product_img/6_small.jpg", width="130", height="120", alt="потолочная люстра Lightstar Vortico 814137")
					.day-product__link__box
						a.day-product__title(href="#", target="_blank")
							h2.day-product__title Lightstar Vortico 814137
						hr
						.card__buy-box 
							a.card__price(href="#") 15999 руб.
							a.card-buy_small.icon(href="#")
			div
				.hit-product__card
					a.day-product__link(href="#", target="_blank")
						img.day-product__img(src="img/product_img/7_small.jpg", width="130", height="120", alt="потолочная люстра Reccagni Angelo PL 6320/3")
					.day-product__link__box
						a.day-product__title(href="#", target="_blank")
							h2.day-product__title Reccagni Angelo PL 6320/3
						hr
						.card__buy-box 
							a.card__price(href="#") 12780 руб.
							a.card-buy_small.icon(href="#")
			div
				.hit-product__card
					a.day-product__link(href="#", target="_blank")
						img.day-product__img(src="img/product_img/5_fiolet_small.jpg", width="130", height="120", alt="потолочная люстра Arte Lamp 11 A8562PL-15MG")
					.day-product__link__box
						a.day-product__title(href="#", target="_blank")
							h2.day-product__title Arte Lamp 11 A8562PL-15MG
						hr
						.card__buy-box 
							a.card__price(href="#") 12500 руб.
							a.card-buy_small.icon(href="#")
			div
				.hit-product__card
					a.day-product__link(href="#", target="_blank")
						img.day-product__img(src="img/product_img/6_small.jpg", width="130", height="120", alt="потолочная люстра Lightstar Vortico 814137")
					.day-product__link__box
						a.day-product__title(href="#", target="_blank")
							h2.day-product__title Lightstar Vortico 814137
						hr
						.card__buy-box 
							a.card__price(href="#") 15999 руб.
							a.card-buy_small.icon(href="#")
			div
				.hit-product__card
					a.day-product__link(href="#", target="_blank")
						img.day-product__img(src="img/product_img/7_small.jpg", width="130", height="120", alt="потолочная люстра Reccagni Angelo PL 6320/3")
					.day-product__link__box
						a.day-product__title(href="#", target="_blank")
							h2.day-product__title Reccagni Angelo PL 6320/3
						hr
						.card__buy-box 
							a.card__price(href="#") 12780 руб.
							a.card-buy_small.icon(href="#")
			div
				.hit-product__card
					a.day-product__link(href="#", target="_blank")
						img.day-product__img(src="img/product_img/5_fiolet_small.jpg", width="130", height="120", alt="потолочная люстра Arte Lamp 11 A8562PL-15MG")
					.day-product__link__box
						a.day-product__title(href="#", target="_blank")
							h2.day-product__title Arte Lamp 11 A8562PL-15MG
						hr
						.card__buy-box 
							a.card__price(href="#") 12500 руб.
							a.card-buy_small.icon(href="#")
							