section.jumbotron
	.container.container-slide
		.slide 
			.slide-img
				img.jumbotron-img(src="img/jumbotron/bg_5.jpg", width="700" height="650" alt="потолочная люстра красная хайтек")
			.slide-img
				img.jumbotron-img(src="img/jumbotron/bg_2.jpg", width="700" height="650" alt="потолочная люстра желтая модерн")
			.slide-img
				img.jumbotron-img(src="img/jumbotron/bg_3.jpg", width="700" height="650" alt="потолочная люстра голубая классика")
			.slide-img
				img.jumbotron-img(src="img/jumbotron/bg_4.jpg", width="700" height="650" alt="потолочная люстра сиреневая классика")
			.slide-img
				img.jumbotron-img(src="img/jumbotron/bg_1.jpg", width="700" height="650" alt="потолочная люстра металлическая лофт") 
		.jumbotron-text
			h1.jumbotron-title Весенняя акция
			p.jumbotron-description на все чешские люстры 
			span.jumbotron-tagline доставка по всей России 
			.jumbotron-buy
				span.jumbotron-price цена от 1000 руб.
				a.jumbotron-btn(href="#")
					i.icon.icon-cart 
					span Купить