section.new-product
	.container
		.new-product__title-box
			h1.title-box__text 
				span.title-box__text--color НОВЫЕ 
				|КОЛЛЕКЦИИ
				br
				span.title-box__description новинки от всех известных брендов 
		.new-product__slide
			.card
				a.card__link(href="#", target="_blank")
					img.card__img(src="img/product_img/1_black_medium.jpg", width="250", height="240", alt="Настольная лампа Nowodvorski Loft Antique Ecru 5051")
				
					.card__product-text
						h2.card__title Nowodvorski Loft Antique Ecru&nbsp5051
						span.card__price 6058 руб.
				hr
				.card__buy-box 
					a.card-buy.icon(href="#")
					a.card-like.icon(href="#")
					
			.card
				a.card__link(href="#", target="_blank")
					img.card__img(src="img/product_img/2_green_medium.jpg", width="250", height="240", alt="Настольная лампа Eurosvet 1926")
				
					.card__product-text
						h2.card__title Eurosvet&nbsp1926
						span.card__price 1926 руб.
				hr
				.card__buy-box 
					a.card-buy.icon(href="#")
					a.card-like.icon(href="#")
			.card
				a.card__link(href="#", target="_blank")
					img.card__img(src="img/product_img/3_braun_medium.jpg", width="250", height="240", alt="Настольная лампа Lightstar Vortico 814913")
				
					.card__product-text
						h2.card__title Lightstar Vortico&nbsp814913
						span.card__price 3498 руб.
				hr
				.card__buy-box 
					a.card-buy.icon(href="#")
					a.card-like.icon(href="#")
			.card
				a.card__link(href="#", target="_blank")
					img.card__img(src="img/product_img/4_medium.jpg", width="250", height="240", alt="спот TK Lighting 1834 Relax Junior 4")
				
					.card__product-text
						h2.card__title TK Lighting 1834 Relax Junior&nbsp4
						span.card__price 5810 руб.
				hr
				.card__buy-box 
					a.card-buy.icon(href="#")
					a.card-like.icon(href="#")
			.card
				a.card__link(href="#", target="_blank")
					img.card__img(src="img/product_img/5_fiolet_medium.jpg", width="250", height="240", alt="потолочная люстра Arte Lamp 11 A8562PL-15MG")
				
					.card__product-text
						h2.card__title Arte Lamp 11 A8562PL-15MG
						span.card__price 13900 руб.
				hr
				.card__buy-box 
					a.card-buy.icon(href="#")
					a.card-like.icon(href="#")
			.card
				a.card__link(href="#", target="_blank")
					img.card__img(src="img/product_img/6_medium.jpg", width="250", height="240", alt="потолочная люстра Lightstar Vortico 814137")
				
					.card__product-text
						h2.card__title Lightstar Vortico 814137
						span.card__price 15999 руб.
				hr
				.card__buy-box 
					a.card-buy.icon(href="#")
					a.card-like.icon(href="#") 
			.card
				a.card__link(href="#", target="_blank")
					img.card__img(src="img/product_img/7_medium.jpg", width="250", height="240", alt="потолочная люстра Reccagni Angelo PL 6320/3")
				
					.card__product-text
						h2.card__title Reccagni Angelo PL&nbsp6320/3
						span.card__price 12780 руб.
				hr
				.card__buy-box 
					a.card-buy.icon(href="#")
					a.card-like.icon(href="#") 	
			.card
				a.card__link(href="#", target="_blank")
					img.card__img(src="img/product_img/8_medium.jpg", width="250", height="240", alt="бра Globo Lenius 15053W")
				
					.card__product-text
						h2.card__title Globo Lenius&nbsp15053W
						span.card__price 12780 руб.
				hr
				.card__buy-box 
					a.card-buy.icon(href="#")
					a.card-like.icon(href="#") 
					
