section.new-product
	.container
		.new-product__title-box
			h1.title-box__text 
				span.title-box__text--color НОВЫЕ 
				|КОЛЛЕКЦИИ
				br
				span.title-box__description новинки от всех известых брендов 
		.new-product__slide
			.card
				a.card__img-link(href="img/product_img/1_black_big.jpg", target="_blank")
					img(src="img/product_img/1_black_medium.jpg", width="250", height="240", alt="Настольная лампа Nowodvorski Loft Antique Ecru 5051")
				a.card__product-link(href="#")
					h2.card__title Nowodvorski Loft Antique Ecru 5051
					span.card__price 6058 руб. 
			.card
				a.card__img-link(href="img/product_img/2_green_big", target="_blank")
					img(src="img/product_img/2_green_medium.jpg", width="250", height="240", alt="Настольная лампа Eurosvet 1926 ")
				a.card__product-link(href="#")
					h2.card__title Настольная лампа Eurosvet 1926 
					span.card__price 2043 руб. 