doctype html
html(lang="ru")
	head
		meta(charset='utf-8')
		meta(name="description" content="Тестовая верстка магазин светильников LampShop")
		meta(name="author" content="Ольга Лозовая") 
		link(rel="stylesheet", href="dist/css/normalize.css")
		link(rel="stylesheet" href='style.css?v=%28.05.2018%')
		//сброс кэша
		link(rel="icon" type="image/png" href="favicon.png" sizes="128x128")
		title тест LampShop
	body
		.footer__down
			include blocks/header.pug
			include blocks/jumbotron.pug
			include blocks/new-product.pug
			include blocks/day_product.pug
			include blocks/hit-product.pug
			include blocks/letter.pug
		include blocks/footer.pug

		script(type="text/javascript" src="js/jquery-3.1.1.min.js")
		script(type="text/javascript" src="js/slick.min.js")
		script(type="text/javascript" src="js/script.js?v=%28.05.2018%")
		//сброс кэша
		
	